In [1]:
# List of high schools
high_schools = ["Hernandes High School", "Figueroa High School", "Wilson High School", "Wright High School"]
for school in high_schools:
    print(school)

Hernandes High School
Figueroa High School
Wilson High School
Wright High School

In [2]:
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
for schools in high_school_types:
    print(high_school_types[schools])

TypeError: list indices must be integers or slices, not dict

In [6]:
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
for schools in high_school_types.values():
    print(schools[0])

AttributeError: 'list' object has no attribute 'values'

In [2]:
import pandas as pd
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]
school_series = pd.Series(high_schools)
for schools in range(len(school_series)):
    print(school_series[schools])

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [3]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]
school_pf = pd.DataFrame(high_school_dicts)
school_pf

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [6]:
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

high_schools_dict = {'School ID': school:id, 'School Name': school_name, 'Type of School': type_of_school}
school_df = pd.DataFrame(high_schools)
school_df

SyntaxError: invalid syntax (<ipython-input-6-1914d05b8bc4>, line 8)